{% extends "base.html" %}

{% block title %}Create Profile{% endblock %}

{% block head %}
  {{ super() }}
<!--   <script src="{{url_for('static', filename='js/main.js') }}" data-turbolinks-track="reload"></script>
 -->  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dropdown_styles.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

{% endblock %}

{% block page_content %}
  <body class="text-center" style="max-width: 500px; margin-left: auto;
  margin-right: auto;">

    <h1>Create Profile</h1>
    <hr>
    <!-- MAJOR -->
    <section id = "major">
      <p style="font-size: 16px;">My major is...</p>
      <form autocomplete="on" action="#">
        <div class="autocomplete" style="width:200px;">
          <input id="myInput" type="text" name="myCountry" placeholder="Major">
        </div>
        <!-- <input type="submit"> -->
      </form>
    </section>

    <form class="form" method="POST">
      <div class="dropdown">
        <label for="major">Major:</label>
        <select id="major" name="major">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Major 1">Major 1</option>
            <option class="dropdown-item" value="Major 2">Major 2</option>
            <option class="dropdown-item" value="Major 3">Major 3</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="year">Year:</label>
        <select id="year" name="year">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Year 1">Year 1</option>
            <option class="dropdown-item" value="Year 1">Year 2</option>
            <option class="dropdown-item" value="Year 1">Year 3</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="location">Location:</label>
        <select id="location" name="location">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Year 1">Year 1</option>
            <option class="dropdown-item" value="Year 1">Year 2</option>
            <option class="dropdown-item" value="Year 1">Year 3</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="availability">Availability:</label>
        <select id="availability" name="availability">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Availability 1">Availability 1</option>
            <option class="dropdown-item" value="Availability 1">Availability 2</option>
            <option class="dropdown-item" value="Availability 1">Availability 3</option>
          </div>
        </select>
      </div>

      <input type="submit" name="submit">
    </form>
  </body>
</html>

{% endblock %}
