{% extends "base.html" %}

{% block title %}Create Profile{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dropdown_styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
{% endblock %}

{% block page_content %}
  <body class="text-center">
    <h1>Create Profile</h1>

    <form class="form" method="post">
      <div class="dropdown">
        <label for="major">Major:</label>
        <select id="major" name="major">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Major 1">Major 1</option>
            <option class="dropdown-item" value="Major 2">Major 2</option>
            <option class="dropdown-item" value="Major 3">Major 3</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="year">Year:</label>
        <select id="year" name="year">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Year 1">2021</option>
            <option class="dropdown-item" value="Year 2">2022</option>
            <option class="dropdown-item" value="Year 3">2023</option>
            <option class="dropdown-item" value="Year 4">2024</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="location">Location:</label>
        <select id="location" name="location">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Location 1">River Campus</option>
            <option class="dropdown-item" value="Location 2">Eastman</option>
            <option class="dropdown-item" value="Location 3">Remote</option>
          </div>
        </select>
      </div>

      <div class="dropdown">
        <label for="availability">Availability:</label>
        <select id="availability" name="availability">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Availability 1">Everytime</option>
            <option class="dropdown-item" value="Availability 2">Flexible</option>
            <option class="dropdown-item" value="Availability 3">Busy</option>
          </div>
        </select>
      </div>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
{% endblock %}
