{% extends "base.html" %}

{% block title %}Create Profile{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block page_content %}
  <body class="text-center">
    <h1>Create Profile</h1>
    <h3>Select topics you are interested in: </h3>
    <form class="form" method="POST">
      <div class="form-check">
        <input class="form-check-input" name="Topic1" type="checkbox" value="Topic1" id="Topic1">
        <label class="form-check-label" for="Topic1">Topic 1</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic2" type="checkbox" value="Topic2" id="Topic2">
        <label class="form-check-label" for="Topic2">Topic 2</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic3" type="checkbox" value="Topic3" id="Topic3">
        <label class="form-check-label" for="Topic3">Topic 3</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic4" type="checkbox" value="Topic4" id="Topic4">
        <label class="form-check-label" for="Topic4">Topic 4</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic5" type="checkbox" value="Topic5" id="Topic5">
        <label class="form-check-label" for="Topic5">Topic 5</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic6" type="checkbox" value="Topic6" id="Topic6">
        <label class="form-check-label" for="Topic6">Topic 6</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic7" type="checkbox" value="Topic7" id="Topic7">
        <label class="form-check-label" for="Topic7">Topic 7</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic8" type="checkbox" value="Topic8" id="Topic8">
        <label class="form-check-label" for="Topic8">Topic 8</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" name="Topic9" type="checkbox" value="Topic9" id="Topic9">
        <label class="form-check-label" for="Topic9">Topic 9</label>
      </div>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
{% endblock %}
