

{% extends "base.html" %}


  {% block title %}Create Profile{% endblock %}


  {% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  {% endblock %}


  {% block page_content %}
    <body class="text-center">
      <h1>Create Profile</h1>
      <hr>
      <h3>Select topics you are interested in: </h3>

    <section id = "interest">
      <div class="row">
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
        <div class="col-xs-6 col-sm-4"><button type="button" class="btn btn-info">Info</button></div>
      </div>
    </section>

    <div class="p-2 bd-highlight">
      <a href="/mentorMain"><button id = "next" type="button" class="btn btn-success">Complete!</button></a>
    </div>
      


    </body>
  </html>
  {% endblock %}
