{% extends "base.html" %}

{% block title %}Create Profile{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dropdown_styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
{% endblock %}

{% block page_content %}
<body class="text-center" style="max-width: 500px; margin-left: auto;
margin-right: auto;">

  <h1>Create Profile</h1>
  <hr>
  <!-- MAJOR -->
  <section id = "major">
    <p style="font-size: 16px;">My major is...</p>
    <form autocomplete="on" action="#">
      <div class="autocomplete" style="width:200px;">
        <input id="myInput" type="text" name="myCountry" placeholder="Major">
      </div>
      <!-- <input type="submit"> -->
    </form>
  </section>



  <!-- YEAR -->
  <section id = "year">
    <p style="font-size: 16px;">My graduate year is...</p>
    <div class="d-flex justify-content-center">
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">2021</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">2022</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">2023</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">2024</button></div>
    </div>
  </section>



  <!-- LOCATION -->
  <section id = "location">
    <p style="font-size: 16px;">I am located in...</p>
    <div class="d-flex justify-content-center">
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">River Campus</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">Eastman</button></div>
    </div>
  </section>


  <!-- AVAILABILTY -->
  <section id = "availabilty">
    <p style="font-size: 16px;">My availabilty is...</p>
    <div class="d-flex justify-content-center">
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">Very Flexible</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">Quite Available</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">Quite Busy</button></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-dark">Very Busy</button></div>
    </div>
  </section>

  <!-- NEXT -->
  <div class="p-2 bd-highlight">

    <a href="/createMentor3"><button id = "next" type="button" class="btn btn-success">Next</button></a>
  </div>

   <script src="/static/js/main.js" charset="utf-8"></script>
</body>
</html>
{% endblock %}
