{% extends "base.html" %}

{% block title %}Find Match{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
{% endblock %}

{% block page_content %}
  <body class="text-center">
    <h1>Here is your Mentor Match!</h1>
    {% if mentor == None %}
      <h3>Sorry No Mentors Currently Match Your Interests</h3>
    {% else %}
      <h3>Mentor: {{ mentor.fullName }}</h3>
    {% endif %}

  </body>
</html>
{% endblock %}
