{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
{% endblock %}

{% block page_content %}
  <body class="text-center">
    <h1>Welcome,</h1>
    <h2>Name!</h2>

    <p>Select whether you are a mentor or a mentee!</p>
    <p>(This can be changed later.)</p>

    <form class="form" method="POST">
      <div class="dropdown">
        <label for="ment">Pick:</label>
        <select id="ment" name="ment">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <option class="dropdown-item" value="Mentor">Mentor</option>
            <option class="dropdown-item" value="Mentee">Mentee</option>
          </div>
        </select>
      </div>
      <button class="btn btn-outline-secondary btn-lg" type="submit">Submit</button>
    </form>
  </body>
</html>
{% endblock %}
